$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.Body {
  &-background {
    // background: black;
    background-color: #f7f7f7;
    /* background: #d8d8d8; */
    /* width: 100%; */
    /* max-height: 1080px; */
    top: 0;
    /* opacity: .4; */
    height: 100vw;
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -140px;
    height: 100vh;
    position: fixed;
    width: 100vw;
  }
}

.App {
  text-align: center;

  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Wallet {
  margin-top: 4em;
  padding: 2em 2em 2em 2em;
  background-color: #fafafa;
  width:600px !important;

  &-container {
    box-shadow: 1px 6px 11px 0px #00000012;
  }

  &-body {
    background-color: #fafafa;
  }

  .row {
    margin-top: 0.8em;
  }
}

.NewChannel {
  &-Container {
    padding-left:3em;
    padding-top:3em;
    padding-right:3em;
    padding-bottom: 4em;
  }
}

.Bill {
  padding: 20px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 40px;
  background: #f8f9fa;
  border: 1px solid #e4e4e4;
}

.Channel {
  &-GroupTable {
    thead {
      background: whitesmoke;
      color: #6c757d;
      box-shadow: 2px -7px 20px -10px rgba(0, 0, 0, 0.13);
    }
  }
}

.btn {
  &-primary {
    color: #007bff;
    background-color: #ffffff;
    border-color: #007bff;
  }

  &-danger {
    color: #dc3545;
    background-color: white;
    border-color: #dc3545;
  }
}

.Groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Group {
    &-single {
      background: white;
      width: 480px;
      padding: 20px;
      height: 250px;
      margin: 14px;
      box-shadow: 1px 6px 11px 0px #00000012;

      @media screen and (min-width: 507px) {
        padding: 40px;
      }
    }

    &-actions {
      justify-content: space-evenly;
      max-width: 330px;
      margin: auto;
    }
  }
}

.navbar-brand {
  color: rgb(56, 147, 255);
  font-size: 24px;
  margin-left: 44px;
}

.dai-button {
  background: white;
  color: #6c757d;
  border: 1px solid #6c757d;
  position: absolute;
  right: 60px;
}