$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/toastr/toastr.scss";

$primaryColor: #22b1b3;
$primaryColor2: #559fa0;

body {
  font-family: 'Roboto', sans-serif;
}

.Body {
  &-background {
    // background: black;
    background-color: #f7f7f7;
    /* background: #d8d8d8; */
    /* width: 100%; */
    /* max-height: 1080px; */
    top: 0;
    /* opacity: .4; */
    height: 100vw;
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
    z-index: -1;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-y: -140px;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color:#556;
    // background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    // linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    // linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    // linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    // linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    // linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    // background-size:80px 140px;
    // background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background: url('/images/road.jpg');
    opacity: 0.25;
    filter: grayscale(1);
    z-index: 0;
  }

  &-background-2 {
    background: linear-gradient(0deg, #ff000000 0%, #e0e0e0 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }
}

#root {
  z-index: 3;
  position: relative;
}

.background {
  z-index: -1;
}

.App {
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Wallet {
  padding: 2em 2em 2em 2em;
  background-color: white;

  &-container {
    // box-shadow: 1px 6px 11px 0px #00000012;
    box-shadow: 1px 2px 0px 0px #00000012;
  }

  &-body {
    background-color: #fafafa;
  }

  .row {
    margin-top: 0.8em;
  }
}

.Bill {
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  background: #f8f9fa;
  border: 1px solid #e4e4e4;
}

.Channel {
  &-GroupTable {
    thead {
      background: whitesmoke;
      color: #6c757d;
      box-shadow: 2px -7px 20px -10px rgba(0, 0, 0, 0.13);
    }
  }
}

.btn {
  &-primary {
    $gradientCol1: #368082;
    $gradientCol2: #559fa0;

    color: #ffffff;
    background-color: #ffffff;
    border-color: $primaryColor2;
    background: $primaryColor2;
    background: linear-gradient(90deg, $gradientCol1 0%, $gradientCol2 100%);

    &:hover, &:active, &:focus {
      background: linear-gradient(90deg, darken($gradientCol1, 10%) 0%, darken($gradientCol2, 10%) 100%);
      border-color: $primaryColor2;
      box-shadow: none;
    }

    &.alt {
      color: $primaryColor2;
      background: white;
      border: 1px solid $primaryColor2;

      &:hover, &:active, &:focus {
        color: white !important;
        border: 1px solid $primaryColor2 !important;
        background: $primaryColor2 !important;
        box-shadow: none !important;
      }
    }
  }



  &-danger {
    $color: #464646;

    // color: #dc3545;
    color: white;
    background-color: $color;
    border-color: $color;

    &:hover {
      background: $color;
      border-color: $color;
    }

    &.alt {
      color: $color;
      background-color: white;
      border: 1px solid $color;

      &:hover, &:active, &:focus {
        color: white !important;
        background: $color !important;
        border: 1px solid $color;
        box-shadow: none !important;
      }
    }
  }

  &-primary, &-danger {
    line-height: 24px;
    text-transform: uppercase;
    border: none;

    .material-icons {
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
}

.Groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Group {
    &-single {
      background: white;
      width: 480px;
      padding: 20px;
      height: 250px;
      margin: 20px;
      // box-shadow: 1px 6px 11px 0px #00000012;
      box-shadow: 1px 2px 0px 0px #00000012;
      text-align: center;

      &-title {
        color: $primaryColor2;
      }

      &-subtitle {
        color: #4e4e4e;
      }

      @media screen and (min-width: 507px) {
        padding: 40px;
      }

      @media screen and (min-width: 992px) {
        width: calc(50% - 20px);

        &:nth-child(2n - 1) {
          margin-left: 0;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        // &:nth-child(n + 3) {
        //   margin-top: 60px;
        // }
      }
    }

    &-actions {
      justify-content: space-evenly;
      max-width: 475px;
      margin: auto;
    }
  }
}

.navbar-brand {
  color: #ffffff;
  font-size: 24px;
  background: $primaryColor;
  padding: 0 10px;
  font-weight: 300;

  &:hover {
    color: white;
    background: darken($primaryColor, 5%);
  }
}

.dai-button {
  display: block;
  position: absolute;
  right: 0;
}

.Participants {
  &-table {
    // max-width: 600px;
  }
}

.text-bold {
  font-weight: bold;
}

.white-container {
  background: white;
  padding: 30px 60px;
  // box-shadow: 1px 6px 11px 0px #00000012;
  box-shadow: 1px 2px 0px 0px #00000012;
}

.navbar {
  background: white;
  // box-shadow: 1px 6px 11px 0px #00000008;
  box-shadow: 1px 2px 0px 0px #00000012;
  min-height: 80px;
}

.relative {
  position: relative;
}

.NewChannel {
  &-Container {
    margin-top: 40px;
  }
}

.mt-20px {
  margin-top: 20px !important;
}

.widget-alert {
  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 2px;
  display: flex;
  color: $primaryColor2;
  background: #ffffff;
  box-shadow: 1px 2px 0px 0px #00000012;
  margin-bottom: 20px;

  &__icon {
    width: 100px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;

    .material-icons {
      font-size: 40px;
    }
  }

  &__text {
    padding: 20px 20px 20px 0;
    margin: 0 auto 0 0;
    align-items: center;
    display: flex;
  }

  &__action {
    $gradientCol1: #368082;
    $gradientCol2: #559fa0;

    background: linear-gradient(90deg, $gradientCol1 0%, $gradientCol2 100%);

    border-left: solid 1px #efefef;
    text-transform: uppercase;
    // background: linear-gradient(0deg, #002133 0%, #591f23 100%);
    align-items: center;
    display: flex;
    background: linear-gradient(0deg, #368082 0%, #559fa0 100%);
    padding: 0 40px;
    color: white;
    cursor: pointer;

    &:hover {
      // background: linear-gradient(0deg, darken(#368082, 10%) 0%, darken(#559fa0, 10%) 100%);
      background: linear-gradient(90deg, darken($gradientCol1, 10%) 0%, darken($gradientCol2, 10%) 100%);
    }

    a {
      font-size: 0.8rem;
      color: #ffffff;
      font-weight: 500;
      white-space: nowrap;
      padding: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.badge {
  &-primary {
    color: #fff;
    background-color: $primaryColor2;
  }
}

.toast {
  box-shadow: 1px 2px 0px 0px #00000012 !important;
  border-radius: 0 !important;
  opacity: 1 !important;

  &-success {
    background-color: $primaryColor2 !important;
  }
}

.dai-symbol {
  background: url('/images/dai-2.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  vertical-align: text-bottom;
}

.dai-row {
  line-height: 36px;
  color: #559fa0;
}

.Expenses {
  &-Group {
    &-title {
      color: $primaryColor;
      font-weight: 400;
    }
  }
}

.brand-subtitle {
  color: #398485;
  font-weight: 300;
}